@model SeasonTracker.Models.Member
@{
    ViewBag.Title = Model.MemberName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@Model.MemberName</h2>
    <ul>
        <li>Account Type: @Model.AccountType.Name</li>
        <li>Is Subscribed to Newsletter: @Model.IsSubscribedToNewsLetter</li>
    </ul>