@model  SeasonTracker.ViewModels.MemberWatchListViewModel
@{
    ViewBag.Title = "ViewingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewingDetails</h2>

<h2>@Model.MemberName</h2>
<ul>
    @*for each *@
    @foreach (var item in Model.WatchLists)
    {
        <li>@item.TvShow.TvShowName @item.TvShow.SeasonNumber</li>
        <li>@item.ViewingList</li>
    }

</ul>
