@model  SeasonTracker.ViewModels.TvShowSelectionViewModel
@{
    ViewBag.Title = "Add a Tv Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Display the member name and the TV Shows they can subscribe to*@
<h2>Add a new Tv Show to your list, @Model.Member.MemberName</h2>
<table id="tvshows-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Add</th>
            <th>Tv Show Name</th>
            <th>Season Number</th>
            <th>Number of Episodes</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#tvshows-table").DataTable({
                ajax: {
                    url: "/api/tvShows",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-Add' data-tvshow-id=" + data + ">Add</button>";
                        }
                    },
                    {
                        data: "tvShowName",
                        render: function (data, type, tvShow) {
                            return "<a href='/tvshows/edit/" + tvShow.id + "'>" + tvShow.tvShowName + "</a>";
                        }
                    },
                    {
                        data: "seasonNumber"
                    },
                    {
                        data: "numberOfEpisodes"
                    }
                ]
            });

            //NOTE/TBD: here's where I want to implement an interface similar to the adding new rentals.
            $("#tvshows-table").on("click", ".js-add", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to add this Tv Show?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/tvshows/" + button.attr("data-tvshow-id"),
                            method: "CREATE",
                            success: function () {
                                alert("Tv Show Added!")
                            },
                            error: function() {
                                alert("Tv Show not added. Something went wrong.");
                            }
                        });
                    }
                });
            });
        });
    </script>
}

